.leave-request {
  display: grid;
  grid-template-columns: 60% 20% auto;
  align-items: center;
  gap: 40px;
  background: $gray-700;

  &__image {
    line-height: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .input {
    padding-right: 50px;
  }

  .input__icon {
    position: absolute;
    top: 16px;
    right: 20px;
    line-height: 0;
  }
}