a {
  color: inherit;
}

.btn {
  &-link {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: inherit;
    text-decoration: none;

    &-underline {
      border-bottom: 1px solid;
      
      &-dashed {
        border-bottom: 1px dashed $blue-900;
      }
    }

    &-icon {
      display: inline-flex;
      align-items: center;
      gap: 5px;
    }
  }
}
