.slider-v4 {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__row {
    display: flex;
    gap: 30px;
  }

  &__preview {
    opacity: .5;
    cursor: pointer;
    line-height: 0;

    &_active {
      opacity: 1;
    }

    &_sm {
      max-width: 330px;
    }

    &_md {
      max-width: 500px;
    }

    &_lg {
      max-width: 600px;
    }

    &_xl {
      max-width: 700px;
    }
  }

  &__slide {
    display: flex;
    align-items: center;
  }

  &__image {
    max-width: 625px;
    line-height: 0;
  }

  &__content {
    position: absolute;
    right: 0;
    max-width: 745px;
    padding: 60px 60px 79px;
    background: $white;
    box-shadow: $shadow-lg;
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }

  &__content-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__stats-wrap {
    display: flex;
    gap: 40px;
  }

  &__stats-item {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__stats-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $black;
  }

  .arrow-button {
    position: absolute;
    bottom: -30px;
  }
}
