@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

$text-2xl: 48px;
$text-xl: 36px;
$text-lg: 30px;
$text-md: 18px;
$text-base: 16px;

$white: #fff;
$black: #262626;
$green-500: #85C441;
$gray-100: #FAFAFA;
$gray-700: #E6ECE1;
$gray-900: #A6A6A6;
$blue-900: #1B2B49;

$shadow-sm: 0px 4px 4px 0px #00000040;
$shadow-lg: 2px 6px 12px rgba(38, 38, 38, 0.12);
